[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fuzzingbook = "*"
pydot = "*"
z3-solver = "*"
orderedset = "*"
grammargraph = {path = "./../GrammarGraph/dist/grammargraph-0.0.1.tar.gz"}

[dev-packages]
stringsampler = {path = "./../StringSMTSampler/dist/stringsampler-0.0.1.tar.gz"}
pipenv-setup = "*"
#pyperclip = "*"
#stringsampler = {editable = true, path = "./../StringSMTSampler"}

[requires]
python_version = "3.9"
