[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fuzzingbook = "*"
pydot = "*"
z3-solver = "*"
orderedset = "*"
# stringsampler = {path = "./../StringSMTSampler/dist/stringsampler-0.0.1.tar.gz"}
pyperclip = "*"

[dev-packages]

[requires]
python_version = "3.9"
